@use '../variables/colors' as c;

@keyframes show-alert {
  0% {
    opacity: 0;
    transform: translateX(150%);
  }
  25% {
    opacity: 1;
    transform: translateX(0);
  }
  75% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(150%);
  }
}

.alert {
  position: fixed;
  top: 0;
  right: 0;
  background-color: c.$soft-red;
  margin: 1rem;
  padding: 1.25rem 1rem;
  font-size: min(4vw, 1rem);
  border-radius: 0.5rem;
  color: c.$white;
  animation: show-alert 2.5s;
}
